<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
    <header>
        <nav>
            <ul>
              <a href="{{ url_for('all_films') }}"><button type="button">Все фильмы</button></a>
              <a href="{{ url_for('horrors') }}"><button type="button">Хоррор</button></a>
              <a href="{{ url_for('action') }}"><button type="button">Экшн</button></a>
              <a href="{{ url_for('comedy') }}"><button type="button">Комедия</button></a>
              <a href="{{ url_for('watch_later') }}"><button type="button">Смотреть позже</button></a>
              <a href="{{ url_for('main_page') }}"><button type="button">О нас</button></a>
              {%if log == "log-in"%}
                <a href="{{ url_for('registration') }}"><button type="button">Регистрация</button></a>
                <a href="{{ url_for('login') }}"><button type="button">Логин</button></a>
              {%else%}
                <a href="{{ url_for('main_page') }}"><button type="button">{{log}}</button></a>
                <a href="{{ url_for('logout') }}"><button type="button">Выход</button></a>
              {%endif%}
              
            </ul>
        </nav>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Warner_Bros_logo.svg/1965px-Warner_Bros_logo.svg.png" alt="Warner Bros Logo" style="width: 100px; height: 100px;">
    </header>
<main>
    <h1>Лучший сайт филмов</h1>
    <p>Вот такой сайтик</p>
</main>
<footer>
    <p>&copy; 2023 My Company. All rights reserved.</p>
</footer>
</body>
</html> 