<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}"/>
</head>
<body>
    
    <header>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Warner_Bros_logo.svg/1965px-Warner_Bros_logo.svg.png" alt="Warner Bros Logo" style="width: 100px; height: 100px;">
        <nav>
            <ul>
              <a href="{{ url_for('all_films') }}"><button type="button">Все фильмы</button></a>
              <a href="{{ url_for('horrors') }}"><button type="button">Хоррор</button></a>
              <a href="{{ url_for('action') }}"><button type="button">Экшн</button></a>
              <a href="{{ url_for('comedy') }}"><button type="button">Комедия</button></a>
              <a href="{{ url_for('watch_later') }}"><button type="button">Смотреть позже</button></a>
              <a href="{{ url_for('main_page') }}"><button type="button">О нас</button></a>
              <a href="{{ url_for('watch_later') }}"><button type="button">Логин</button></a>
            </ul>
        </nav>
    </header>
<main>
    <form action = "/register_validation" method="POST">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username">
    
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
    
        <input type="submit" value="Войти">
      </form>
</main>
<footer>
    <p>&copy; 2023 My Company. All rights reserved.</p>
</footer>
</body>
</html> 